:root {
  --primary: rgb(0, 103, 129);
  --secondary: rgb(232, 237, 239);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
}
/* start header css */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 20px 30px;
}
.header__avatar img{
  border-radius: 15px;
  width: 55px;
  height: auto;
}
.header__settings i {
  font-size: 26px;
  color: var(--primary);
}
/* end header css */

/* start search css */
.search {
  margin: 50px 20px 30px;
}
.search__heading {
  font-size: 28px;
  color: var(--primary);
  margin-bottom: 20px;
  font-weight: 400;
}
.search__field {
  display: flex;
  align-items: center;
}
.search__field input {
  width: 100%;
  border: none;
  outline: none;
  padding: 15px 0 15px 15px;
  border-radius: 15px 0 0 15px;
  background-color: var(--secondary);
}
.search__btn {
  background-color: var(--primary);
  padding: 15px;
  border-radius: 15px;
  position: relative;
  left: -10px;
}
.search__btn i {
  text-align: center;
  color: #fff;
  font-size: 18px;
}
/* end search css */

/* start category css */
.category {
  margin: 50px 20px 30px;
}
.category__heading {
  font-size: 24px;
  color: var(--primary);
  margin-bottom: 20px;
  font-weight: 400;
}
.category__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.category__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.category__item p {
  color: var(--primary);
  font: 14px;
}
.category__icon__holder {
  background-color: var(--secondary);
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 10px;
}
.category__icon__holder:hover {
  background-color: var(--primary);
}
/* end category css */