:root {
  --primary: rgb(0, 103, 129);
  --secondary: rgb(232, 237, 239);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
}
/* start header css */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 20px 30px;
}
.header__avatar img {
  border-radius: 15px;
  width: 55px;
  height: auto;
}
.header__settings i {
  font-size: 26px;
  color: var(--primary);
}
/* end header css */

/* start search css */
.search {
  margin: 0 20px 30px;
}
.search__heading {
  font-size: 28px;
  color: var(--primary);
  margin-bottom: 20px;
  font-weight: 400;
}
.search__field {
  display: flex;
  align-items: center;
}
.search__field input {
  width: 100%;
  border: none;
  outline: none;
  padding: 15px 0 15px 15px;
  border-radius: 15px 0 0 15px;
  background-color: var(--secondary);
}
.search__btn {
  background-color: var(--primary);
  padding: 15px;
  border-radius: 15px;
  position: relative;
  left: -5px;
}
.search__btn i {
  text-align: center;
  color: #fff;
  font-size: 18px;
}
/* end search css */

/* start category css */
.category {
  margin: 0 20px 30px;
}
.category__heading {
  font-size: 24px;
  color: var(--primary);
  margin-bottom: 20px;
  font-weight: 400;
}
.category__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.category__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.category__item span {
  color: var(--primary);
  font: 14px;
}
.category__icon__holder {
  background-color: var(--secondary);
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 10px;
}
.category__icon__holder:hover {
  background-color: var(--primary);
  color: var(--secondary);
}
/* end category css */

/* start slider css */
.slider {
  margin: 0 0 30px;
}
.slider__card img {
  border-radius: 15px;
  position: relative;
}
.slider__card p {
  position: absolute;
  color: #fff;
  left: 10px;
  top: 10px;
}
.slider__card .layer {
  background-color: rgba(121, 121, 121, 0.35);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.slider__card .layer:hover {
  background-color: transparent;
}
/* end slider css */

/* start navbar css */
.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 3 rgba(0, 0, 0, 0.3);
  z-index: 100;
}
.navbar__link {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  text-decoration: none;
  color: #b8c4c9;
  font-size: 20px;
}
.navbar__link:hover {
  color: var(--primary);
}
.navbar__plus {
  position: relative;
  top: -20px;
  background-color: var(--primary);
  border-radius: 50%;
  padding: 10px;
  transition: .5s all;
}
.navbar__plus .navbar__link {
  color: #fff;
}
.navbar__plus:hover {
  transform: scale(1.2);
}
/* end navbar css */
